<div class="container">

    <hr>
    <div class="hit-the-floor">PARQUEA-T</div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="../../../assets/icon.png " alt="logo " width="250px " height="250px ">
                <h2>Sistema de Parqueo Automático</h2>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center">
            <div class="col-md-3 text-center alert alert-info">
                <button mat-fab color="primary">
                    <mat-icon>my_location</mat-icon>
                </button>
                <p>
                    ¡Encontrar parkings!
                </p>
            </div>
        </div>
    </div>
</div>