<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="'over'" [opened]="'false'">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item [routerLink]="'home'">Home</a>
            <a mat-list-item [routerLink]="'dashboard'">Dashboard</a>
            <a mat-list-item [routerLink]="'business'">Parqueaderos</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div class="example-button-row">
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
                <button mat-icon-button routerLink="home">PARQUEA-T</button>
            </div>
            <div class="row mx-auto nav-tools-items">
                <div class="col-8 alert alert-dark m-5">
                    <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
                    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
                </div>
            </div>
        </mat-toolbar>

        <!-- Components -->
        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>